{{>header title}}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 offset2 question_background">
            <h4>{{title}}</h4> <h5>({{category}})</h5>
        <h3>Average Rating: {{getLocAvg this}}</h3>
      </div>
    </div>
	
	{{#each ratings}}

	<div class="spacer10"></div>
	    <div class="row-fluid">
	      <div class="span8 offset2 question_background">     
		<h4>Rating #{{getNumber this}}:	{{getArrAvg scores}}</h4><p>{{date}}</p>

			<div class="btn-group">
                <button class="btn btn-primary">Options</button>
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="mapentries.html">View on Map</a></li> 
                    <li><a href="ratingformfromtemplate.html">Rate this Location</a></li>
                </ul>
            </div>

	    <table class="table table-bordered" style="color:white;">
	    <tr>
	    <td>#</td>
	    <td>Question</td>
	    <td>Score</td>
	    </tr>

		{{#each scores}}

		    <tr>
		    <td>{{getNumber this}}</td>  
		    <td>{{{getText this ../../questions }}}</td>
		    <td>{{this}}</td>
		    </tr>

		{{/each}}

		</table>

		<h4>Comments</h4>
        <p>{{comments}}</p>

		    </div>
		</div>
	{{/each}}
</div>
   
{{>modal}}